bs4==0.0.1
cryptography==36.0.1
dash==3.2.0
dash-bootstrap-components==1.0.2
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.12.0
Flask==3.0.0 
Flask-Compress==1.14
Flask-Cors==4.0.0
Flask-Excel==0.0.7
joblib==1.5.2
kaleido==0.2.1
lxml==6.0.2
nbformat==5.10.4
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.3
plotly==6.3.1
python-dotenv==1.0.0
python-telegram-bot==22.5
pymysql==1.1.0
# psycopg2-binary==2.9.9
redis==4.3.4
requests==2.31.0
shioaji==1.2.8
streamlit==1.45.1
sqlalchemy==2.0.44
tqdm==4.67.1
XlsxWriter==3.1.8